[project]
	description = Implement RTMP protocol by golang
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jorge Villatoro (thelazyfox)
[access "refs/for/refs/*"]
	read = group user/Jorge Villatoro (thelazyfox)
	push = group user/Jorge Villatoro (thelazyfox)
	label-Code-Review = -2..+2 group user/Jorge Villatoro (thelazyfox)
	label-Verified = -1..+1 group user/Jorge Villatoro (thelazyfox)
	rebase = group user/Jorge Villatoro (thelazyfox)
	removeReviewer = group user/Jorge Villatoro (thelazyfox)
	submit = group user/Jorge Villatoro (thelazyfox)
[access "refs/heads/*"]
	read = group user/Jorge Villatoro (thelazyfox)
	create = group user/Jorge Villatoro (thelazyfox)
	push = +force group user/Jorge Villatoro (thelazyfox)
	pushMerge = group user/Jorge Villatoro (thelazyfox)
[access "refs/tags/*"]
	push = +force group user/Jorge Villatoro (thelazyfox)
	pushTag = group user/Jorge Villatoro (thelazyfox)
	pushSignedTag = group user/Jorge Villatoro (thelazyfox)
